.page {
    margin:0 auto;
    background-color: #2A2C2F;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    padding-bottom: 24px;
    padding-top: 28px;
}

@media screen and (max-width: 767px) {
    .page {
        padding-top: 16px;
    }
}
