.lead__title {
    margin: 0 0 32px;
    max-width: 720px;
    width: 100%;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    font-family: "inter-Bold";
}

@media screen and (max-width: 767px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 16px;
    }
}